.container {
    min-height: 60vh;
    padding: 0 0.5rem;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 30vh;
  }

  .container img{
      padding-top: 10px;
      display: flex;
      width: 1000px;
      height: 510px;
  }

  .container a {
      text-decoration: underline;
  }